<?xml version="1.0" encoding="UTF-8"?>
<!-- 当一个web项目不需要使用web.xml来初始配置信息时，可以不用web.xml文件来配置web项目. -->
<!-- web.xml的加载顺序是：ServletContext->context-param->listener->filter->servlet，而同一类型之间的调用顺序是根据对应的mapping的顺序进行调用的。 -->
<!-- schema(模式)文件,web-app入口. -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <icon>
        <small-icon>/themes/base/images/app_logo.jpg</small-icon>
        <large-icon>/themes/base/images/app_logo.jpg</large-icon>
    </icon>
</web-app>